/************  一级菜单  **************/
.infinity-menu-node-container {
	box-sizing: content-box;
	width: 100%;
	background-color: rgb(137, 139, 143);
	color: rgb(171, 171, 171);
	height: 60px;
	/*padding-left: 40px;*/
	line-height: 60px;
	/*padding-top: 20px;*/
	border: solid 1px rgb(221, 221, 221);
	border-right: 0;
	background-color: white;
	border-bottom: none;
	/*margin-top: -1px;*/
	/*padding-bottom: 1px;*/
}
/*react-infinity-menu-2 样式*/
.infinity-menu-display-tree-container ul{
	margin-top:0 !important;
	margin-bottom: 0 !important;
	list-style-type: none;
	padding: 0;
}
.infinity-menu-node-container:hover {
	background-color: #00cccb;
	color: white;
}

.infinity-menu-node-container-icon{
	display: block;
	float: left;
	margin-right: 22px;
	margin-left: 40px;
	margin-top: 20px;
}

.infinity-menu-node-container-indicator{
	display: block;
	float: right;
	margin-right: 40px;
	margin-top: 27px;
}

/************  二级菜单  **************/
.infinity-menu-leaf-container {
	box-sizing: content-box;
	width: 100%;
	background-color: rgb(94, 96, 99);
	color: rgb(171, 171, 171);
	height: 30px;
	padding-left: 90px;
	padding-top: 15px;
	background-color: white;
}
.infinity-menu-leaf-container:hover {
	background-color: #00CCCB;
	color: white;
}
.jdy-active{
	color: #00CCCB;
}
.jdy-noactive{
	color: rgb(171,171,171);
}

/************  三级菜单  **************/
ul>.infinity-menu-node-container{
	display: inline-block;
	box-sizing: content-box;
	width: 100%;
	background-color: rgb(94, 96, 99);
	color: rgb(171, 171, 171);
	height: 30px;
	line-height: 22px;
	padding-left: 90px;
	padding-top: 15px;
	background-color: white;
	border: 0;
}
ul>.infinity-menu-node-container+ul>li{
	padding-left: 120px;
}
ul>.infinity-menu-node-container>.infinity-menu-node-container-indicator {
	margin-right: 130px;
	margin-top: 8px;
}


.infinity-menu-load-more-container {
	width: 100%;
	background-color: rgb(255, 255, 255);
	color: rgb(94, 96, 99);
	height: 30px;
	padding-left: 20px;
	padding-top: 15px;
	text-align: center;
	list-style-type: none;
}
.infinity-menu-load-more-container:hover {
	background-color: #00CCCB;
	color: white;
}
